<section class="content-header">
  <div class="pull-right">
  </div>
  <h1>
    {{ 'Home' | translate }}
    <small translate>Welcome!</small>
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <tabset class="nav-tabs-custom">
        <tab heading="{{ 'Dashboard' | translate }}">
          <div class="row">

            <small-box name="{{ box.name }}" color="{{ box.color }}" icon="{{ box.icon }}"
                       quantity="{{ box.quantity }}" href="{{ box.href }}" ng-repeat="box in boxes | orderBy:['name']"></small-box>

          </div>
        </tab>
        <tab select="createGraph()" heading="{{ 'Visualizations' | translate }}">
          <div ng-show="isadmin" >
                  
                 <button class="btn btn-primary" ng-click="createDemoGraph(demonodes,demoedges)" type="button">Draw</button>
                 <button class="btn btn-primary" ng-click="debugNodes=!debugNodes" type="button">Hide</button>
          <div class="row" collapse="debugNodes">
            
                  <div class="col-xs-6" class="form-group">
                    <label for="nodes">Nodes :</label>
                    <textarea ng-model="demonodes" class="form-control" rows="15" id="nodes"></textarea>
                  </div>
                  
                  <div class="col-xs-6" class="form-group">
                    <label for="edges">Edges :</label>
                    <textarea ng-model="demoedges" class="form-control" rows="15" id="edges"></textarea>
                  </div>
          </div>
          </div>
                  
          <div class="row">
                <div class="container">
                  <label class="btn btn-warning" ng-model="graphbutton.protocols" btn-checkbox>Care Plans</label>
                  <label class="btn btn-primary" ng-model="graphbutton.healthcenters" btn-checkbox>Issuing Bodies</label>
                  <label class="btn btn-danger" ng-model="graphbutton.doctors" btn-checkbox>Health Units</label>
              
                 <vis-network data="visdata" options="visoptions" events="visevents"></vis-network>
                  
                </div>
            
          </div>
        </tab>
        <tab ng-show="isadmin" heading="{{ 'Variables' | translate }}">
          <div class="row">
            <div class="col-md-6">
              <h4 translate>Current user</h4>
              <pre>{{currentUser | json}}</pre>
            </div>
            <div class="col-md-6">
              <h4 translate>Settings</h4>
              <pre>{{settings | json}}</pre>
            </div>
          </div>
        </tab>
        <tab ng-show="isadmin" heading="{{ 'Theme' | translate }}">
          <div class="row">
            <div class="col-md-6">
              <h4> {{ 'Theme' | translate }}
                <small>{{appTheme}}</small>
              </h4>
              <div class="btn-group" data-toggle="btn-toggle">
                <button type="button" class="btn btn-default btn-xs" data-toggle="on"
                        ng-repeat="theme in appThemes" ng-click="setSetting('appTheme', theme.class)">
                  {{theme.name}}
                </button>
              </div>
              <h4>Layout
                <small>{{appLayout}}</small>
              </h4>
              <div class="btn-group" data-toggle="btn-toggle">
                <button type="button" class="btn btn-default btn-xs" data-toggle="on"
                        ng-repeat="layout in appLayouts" ng-click="setSetting('appLayout', layout.class)">
                  {{layout.name}}
                </button>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</section>
