<h4>
    <a href="" ui-sref="^.list" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
    <span ng-show="!protocol.id" translate>Add a new Care Plan</span>
    <span ng-show="protocol.id" translate>Edit Care Plan</span>
    <button class="btn btn-xs btn-primary" ng-click="exportToXML(protocol)">Export to XML</button>
</h4>


<div class="row">
    <div class="col-md-8-offset-2">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title"></h3> 
            </div>
            <div class="box-body">
                <form ng-submit="onSubmit(form)" name="form" novalidate>
                    <tabset justified="true">
                        <tab ng-repeat="tab in tabs"
                           heading="{{tab.title}}"
                           active="tab.active"
                           disable="tab.disabled"
                           ng-hide="tab.hide"
                           select="tab.onselect()"
                           class="protocolform"> <br>
                    <div class="container">
                        
                    
                        <formly-form model="tab.form.model" fields="tab.form.fields" form="form" options="tab.form.options">
                        </formly-form>      
                        
                    <div ng-if="tab.evidence">
                    <br>
                    <div class="row">

                        <div class="col-sm-11">
                        <label for="evidence_uiselect" class="control-label">Select article to add as evidence</label>
                        
                        <div ng-show="loading" class="loadingSelect"></div>
                        <ui-select name="evidence_uiselect" search-enabled="true" reset-search-input="true"
                            on-select="addPubmedArticle($item, $model)" 
                            ng-model="evidence.selected" theme="bootstrap">
                            <ui-select-match allow-clear="true" placeholder="Search in pubmed...">{{$select.selected.title}}</ui-select-match>
                            <ui-select-choices 
                                repeat="article in pubmedResults track by $index" 
                                refresh="searchPubmed($select.search)" 
                                refresh-delay="50">
                                <div ng-bind-html="article.title | highlight: $select.search"></div>
                                <small ng-bind="article.authorString"></small> <cite><b ng-bind="article.pubYear"></b></cite>
                            </ui-select-choices>
                            </ui-select>
                            </label>
                            
                        </div>
                        <div class="col-sm-1">
                        <br>
                        <br>
                        <!--<label class="control-label"><input type="checkbox" ng-model="evidence.exactPubMedSearch">Exact</label>-->
                        </div>
                    </div>
                    <div class="row" ng-show="protocol.evidences.length>0"><hr></div>
                    <div class="row">
                        
                       <ol>
                          <li ng-repeat="article in protocol.evidences track by $index">

                            <a ng-href="http://www.ncbi.nlm.nih.gov/pubmed/{{article.pmid}}" target="_blank" class="list-group-item-heading" ng-bind-html="article.title"></a>
                                
                                <span>
                                <a href="" class="btn btn-xs btn-default" ng-click="removePubmedArticle($index)">
                                <span class="ion-close-round"></span></a>
                                </span>
                                
                            <p>
                                <b>PMID</b> : {{article.pmid}} 
                                <br>
                                <b>Authors</b> : {{article.authorString}} &copy;{{article.pubYear}}
                            </p>
                          </li>
                        </ol>
                    </div>
                </div>
                        
                    <div ng-if="tab.initial_conditions">
                    <br>
                    <div class="row">
                        <div>
                            <label style="margin-left:15px">Entry Points</label>    
                            <div class="alert alert-warning">
                                <strong>User friendly output: </strong>
                                <h3><span ng-bind-html="output"></span></h3>
                            </div>
                        </div>
                        <le-builder group="filter.group"></le-builder>
                    </div>
                </div>
                          
                
                    <div ng-if="tab.outcome">
                    <br>
                    <div class="row" >

                        <label for="outcome_uiselect" class="control-label">Exit Points</label>
                        <div ng-show="loading" class="loadingSelect"></div>
                        <ui-select name="outcome_uiselect" search-enabled="true"
                            on-select="addOutcome($item, $model)" 
                            ng-model="outcome.selected" theme="bootstrap">
                            <ui-select-match placeholder="Search for exit points...">{{$select.selected.label}}</ui-select-match>
                            <ui-select-choices 
                                repeat="outcome in autocompleteResults track by $index" 
                                refresh="bioportalAutocomplete($select.search,{templateOptions:{bioportal:{}}})" 
                                refresh-delay="0">
                                <div ng-bind-html="outcome.label | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="row" ng-show="protocol.outcomes.length>0"><hr></div>
                    <div class="row">
                        
                       <ul>
                          <li ng-repeat="outcome in protocol.outcomes track by $index">
                            <a ng-href="{{outcome.link}}" target="_blank" >
                               <b>{{outcome.label}}</b>
                            </a>
                                <span>
                                <a href="" class="btn btn-xs btn-default" ng-click="removeOutcome($index)">
                                <span class="ion-close-round"></span></a>
                                </span>
                          </li>
                        </ul>
                    </div>
                </div>          
                        
                        
                        </div>
                      </tab>
                      
                            
                    </tabset>
                    <button type="submit" class="btn btn-primary submit-button" ng-disabled="form.$invalid">Submit</button>
                </form>
            </div>
        </div>
    </div>
    
    <div class="col-md-12" ng-show="isadmin">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Care Plan</h3>
                <button ng-click="exportToXML(protocol)">Export to XML</button>
            </div>
            <div class="box-body">
                <pre>{{protocol|json}}</pre>
            </div>
        </div>
    </div>

</div>
