  <div class="box-body">
    <!--  <nit-advanced-searchbox-->
    <!--    ng-model="searchParams"-->
    <!--    parameters="availableSearchParams"-->
    <!--    placeholder="Search...">-->
    <!--</nit-advanced-searchbox>-->
    <!--<pre>{{searchParams | json}}</pre>-->
    <div class="row">
      <div class="col-sm-9">
        <input autofocus="" type="text" ng-model="protocolSearch.$" class="form-control ng-pristine ng-valid ng-touched" placeholder="Find protocols">
      </div>
      <div class="col-sm-3">
        <div class="btn-group">
            <a ng-class="{'btn btn-default':$parent.filtered!=='all','btn btn-primary':$parent.filtered=='all'}" ui-sref="app.protocols.list({filtered:'all'})" ng-model="$parent.filtered" btn-radio="'all'">All</a>
            <a ng-class="{'btn btn-default':$parent.filtered!=='own','btn btn-primary':$parent.filtered=='own'}" ui-sref="app.protocols.list({filtered:'own'})" ng-model="$parent.filtered" btn-radio="'own'">Own</a>
            <a ng-class="{'btn btn-default':$parent.filtered!=='used','btn btn-primary':$parent.filtered=='used'}" ui-sref="app.protocols.list({filtered:'used'})" ng-model="$parent.filtered" btn-radio="'used'">Used</a>
        </div>
      </div>
    </div>
    <hr>
  </div>


<div class="container">
  <div class="mansonry row">
  
    <div class="panel panel-default mansonryitem" ng-repeat="item in protocols | filter:protocolSearch">
     	
     	<div class="panel-heading">
     		   <a href="" ui-sref="^.view({id: item.id})">{{item.general_name}}</a>
     		   
        <div class="box-tools pull-right">
    
          <span ng-show="item.ownerId==$parent.user.id||$parent.isadmin" class="pull-right btn-group">
            <a href="" class="btn btn-xs btn-default"
               ui-sref="^.edit({id: item.id})">
              <i class="fa fa-pencil"></i>
            </a>
            <a href="" class="btn btn-xs btn-default"
               ng-click="delete({id: item.id})">
              <i class="fa fa-trash-o"></i>
            </a>
          </span>
    
        </div>
        
     	</div>
     	
     	<div class="panel-body">
        <h4>{{item.intention_type|ucfirst}} {{item.general_type}} <span ng-show="protocol.intention_disease.label">for</span> 
        <a ng-href="{{item.intention_disease.link}}" target="_blank" ng-show="item.intention_disease" title="{{item.intention_disease.id}}"> {{item.intention_disease.label}}</a>
          <span ng-show="item.technical_sources[0].technical_institute">by</span> {{item.technical_sources[0].technical_institute}}</h4>
          <span ng-show="item.initial_expression.label">
          <strong>Initial conditions : </strong><br>
          <span ng-bind-html="item.initial_expression.label"></span>
          </span>
      </div>
      
    </div>
     
    
  </div>
  <div class="alert alert-warning" role="alert" ng-show="!protocols.length">No protocols here</div>
</div>

