  <div class="box-body">
    <!--  <nit-advanced-searchbox-->
    <!--    ng-model="searchParams"-->
    <!--    parameters="availableSearchParams"-->
    <!--    placeholder="Search...">-->
    <!--</nit-advanced-searchbox>-->
    <!--<pre>{{searchParams | json}}</pre>-->
    <input autofocus="" type="text" ng-model="protocolSearch.$" class="form-control ng-pristine ng-valid ng-touched" placeholder="Find protocols">
    <hr>
  </div>



<div class="box" ng-repeat="item in protocols | filter:protocolSearch">
  <div class="box-header">
    <h3 class="box-title">
      <a href="" ui-sref="^.view({id: item.id})">{{item.release_title}}</a>
      <br/>
    </h3>

    <div class="box-tools pull-right">

      <span ng-show="item.ownerId==user.id||isadmin" class="pull-right btn-group" style="margin-top: 7px;">
        <a href="" class="btn btn-xs btn-default"
           ui-sref="^.edit({id: item.id})">
          <i class="fa fa-pencil"></i>
        </a>
        <a href="" class="btn btn-xs btn-default"
           ng-click="delete({id: item.id})">
          <i class="fa fa-trash-o"></i>
        </a>
      </span>

    </div>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-sm-9" style="white-space: pre;">{{item.content}}</div>
      <div class="col-sm-3">
        <img ng-if="item.image" ng-src="{{item.image}}?id={{item.id}}"/>
      </div>
    </div>
  </div>

  <div class="box-footer">
    <span class="text-muted">
      {{item.created | date:'medium'}}
    </span>
  </div>
</div>


<div class="box" ng-show="!protocols.length">
  <div class="box-header">
    <h3 class="box-title">
      There are no protocols
    </h3>
  </div>
  <div class="box-body">
    <p class="list-group-item-text" translate>Click <a href="" ui-sref="^.add">here</a>
      to add a protocol!</p>
  </div>
</div>
