
<h4>
  <a href="" ui-sref="^.list" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
  {{protocol.general_name}} 


  <span ng-show="protocol.ownerId==user.id||isadmin"  class="pull-right btn-group" style="margin-top: 7px;">
    <a href="" class="btn btn-sm btn-default" ui-sref="^.edit({id: protocol.id})">
      <i class="fa fa-pencil"></i>
    </a>
    <a href="" class="btn btn-sm btn-default" ng-click="delete({id: protocol.id})">
      <i class="fa fa-trash-o"></i>
    </a>
  </span>


</h4>
<hr>

<div class="row">
  
  
  <div class="col-lg-2 col-md-6">
    
    <div class="panel panel-default">
      <div class="panel-heading">Actions</div>
      <div class="panel-body">
        
        <div>
          <ul class="list-group">
          <li class="list-group-item"><a ui-sref="^.deviate({parentId: protocol.id})">Create a deviation <i class="ion-fork-repo"></i></a></li>
          <li ng-show="!protocolUsage.id" class="list-group-item"><a href="" ng-click="toggleProtocolUsage(protocol.id)">Use Protocol <i class="ion-checkmark"></i></a></li>
          <li ng-show="protocolUsage.id" class="list-group-item"><a href="" ng-click="toggleProtocolUsage(protocol.id)">Stop using it! <i class="ion-close"></i></a></li>
          </ul>
          
        </div>
      
      </div>
      
      
      
      </div> 
  </div>
  
  
  
  <div class="col-lg-7 col-md-12">
    
    
      
    <div class="panel panel-default">
      <div class="panel-heading">{{protocol.general_name}}</div>
      <div class="panel-body">
              <div class="col-sm-6">
                <h4>Summary</h4>
                <blockquote>{{protocol.intention_type|ucfirst}} {{protocol.general_type}} for 
                <a ng-href="{{protocol.intention_disease.link}}" target="_blank"  title="{{protocol.intention_disease.id}}">
                  {{protocol.intention_disease.label}}</a>
                  by {{protocol.technical_sources[0].technical_institute}}</blockquote>
              </div>
              <div class="col-sm-6">
                
                <h4>Downloads & links</h4>
                <ul>
                  <li ng-repeat="source in protocol.technical_sources">
                    <a ng-href="{{source.technical_url}}" target="blank">{{source.technical_type}}</a>
                  </li>
                </ul>
              
              </div>
              <div class="col-xs-12">
                
                <p ng-show="protocol.divergion_type" class="lead">
                  Derived from <a ng-href="/#/protocols/{{protocolParent.id}}">{{protocolParent.general_name}}</a> as 
                  {{(protocol.divergion_type==='other'?protocol.divergion_other:protocol.divergion_type)}}  </p>
              
                  <h4>Description</h4>
                  <p>{{protocol.general_desc}}</p>
                  <hr>
                  <h4>Evidence list</h4>
                  <ol>
                    <li ng-repeat="article in protocol.evidences track by $index">
                      <a ng-href="http://www.ncbi.nlm.nih.gov/pubmed/{{article.pmid}}" target="_blank" class="list-group-item-heading" ng-bind-html="article.title"></a>
                  
                      <p>
                          <b>PMID</b> : {{article.pmid}} 
                          <br>
                          <b>Authors</b> : {{article.authorString}} &copy;{{article.pubYear}}
                      </p>
                    </li>
                  </ol>
                  
                  <hr>
                  
                  <h4>Outcomes</h4>
                  <ul>
                    <li ng-repeat="outcome in protocol.outcomes track by $index">
                    <b>{{outcome.type|ucfirst}}</b> outcome :  
                    <a ng-href="http://bioportal.bioontology.org/ontologies/ICD10?p=classes&conceptid={{outcome.link}}" target="_blank" >
                       <b>{{outcome.label}}</b>
                    </a>
                    </li>
                  </ul>
                
                  <hr>
                
                  <h4>Equipment requirements</h4>
                  <ul>
                    <li ng-repeat="res in protocol.resources_infastructure track by $index">
                                  <a ng-href="{{res.link}}" title="{{res.id}}">
                      {{res.label}}</a>
                    </li>
                  </ul>
                  
                    <h4>Medical expert requirements</h4>
                    <ul>
                    <li ng-repeat="res in protocol.resources_human track by $index">
                                  <a ng-href="{{res.link}}" title="{{res.id}}">
                      {{res.label}}</a>
                    </li>
                  </ul>
                  
                    <h4>Drug Requirements</h4>
                    <ul>
                    <li ng-repeat="res in protocol.resources_pharmaceutical track by $index">
                                  <a ng-href="{{res.link}}" title="{{res.id}}">
                      {{res.label}}</a>
                    </li>
                  </ul>
            
              </div>
              
              
            </div>
      </div>
    
    
    
    </div>
  
  
  
  <div class="col-lg-3 col-md-6">
    
    <div class="panel panel-default">
      <div class="panel-heading">Social Information</div>
      <div class="panel-body">
      <tabset justified="true">
        
        <tab heading="Protocol Users">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="user in pusers">{{user.firstName +' '+ user.lastName}} {{ user.specialty }}</li>
          </ul>
        </tab>
        <tab heading="Health centers">
          <ul class="list-group">
            <li ng-repeat="center in pcenters" class="list-group-item">{{center.name}} {{center.location }}</li>
            
          </ul>
        </tab>
      </tabset>
      </div>
      </div>
    
  </div>
    
  
</div>
<pre ng-show="isadmin">{{protocol}}</pre>
  
