
<h4>
  <a href="" ui-sref="^.list" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
  {{healthcenter.main_name}}

  <span ng-show="item.ownerId==user.id||user.roles[0].name=='admin'"  class="pull-right btn-group" style="margin-top: 7px;">
    <a href="" class="btn btn-sm btn-default" ui-sref="^.edit({id: healthcenter.id})">
      <i class="fa fa-pencil"></i>
    </a>
    <a href="" class="btn btn-sm btn-default" ng-click="delete({id: healthcenter.id})">
      <i class="fa fa-trash-o"></i>
    </a>
  </span>

</h4>
<hr>
<pre>{{healthcenter | json}}</pre>
